<% provide(:title, '勤怠表示') %>
<div>
  <table class = "table-bordered table-condensed">
    <tr>
      <td>
        <%= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month }),
                         class: "btn btn-xs btn-primary" %>
        &emsp;<%= @first_day.to_s(:year_month) %>　時間管理表&emsp;
        <%= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month }),
                         class: "btn btn-xs btn-primary" %>
      </td>
      <td>
        指定勤務開始時間 : <%= format_basic_time(@user.work_time) %><br>
        指定勤務終了時間 : <%= format_basic_time(@user.work_end_time) %>
      </td>
      <td colspan = "2">基本時間 : <%= format_basic_time(@user.basic_time) %></td>
      <td>初日 : <%= @first_day.to_s(:date) %></td>
    </tr>
    <tr>
      <td>所属 : <%= @user.department.present? ? @user.department : "未設定" %></td>
      <td>氏名 : <%= @user.name %></td>
      <td>コード : <%= @user.employee_number.present? ? @user.employee_number : "未設定" %></td>
      <td>出勤日数 : <%= @worked_sum %>日</td>
      <td>締日 : <%= @last_day.to_s(:date) %></td>
    </tr>
  </table>
  
  <% if current_user.superior? %>
    <%= link_to "【残業申請のお知らせ】", "#", class: "link" %><br>
    <%= link_to "【勤怠変更申請のおしらせ】", "#", class: "link" %><br>
    <%= link_to "【所属長承認申請のお知らせ】", "#", class: "link" %><br>
  <% end %>

  <%= link_to "勤怠を編集", edit_attendances_path(@user, @first_day), class: "btn btn-primary" %>
  <%= link_to "CSV出力", user_path(format: :csv), class: "btn btn-primary" %>
  <%= link_to "勤怠修正ログ(認証済)", "#", class: "btn btn-primary" %>

  <table class = "table-bordered table-striped table-condensed">
    <thead>
      <tr> <!--rowspan:縦結合、colspan：横結合-->
        <th rowspan = "3">残業申請</th>
        <th rowspan = "3">日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = "8">[実績]</th>
        <th colspan = "5">所定外勤務</th>
      </tr>
      <tr> 
        <th colspan = "3">出社</th>
        <th colspan = "3">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務内容</th>
        <th rowspan = "2">指示者確認</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    <tbody>
      <% @dates.each do |day| %>
        <% 
          css_class = 
          case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
          when '土' then
            'text-primary'
          when '日' then
            'text-danger'
          end
        %>
        <tr>
          <td>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#<%= day.worked_on %>">残業申請</button>
            <div class="modal fade" id="<%= day.worked_on %>" tabindex="-1">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                      <h4 class="modal-title">【残業申請】</h4>
                    </div>
                    <div class="modal-body">
                      <table class="table-bordered table-striped table-condensed">
                        <tr>
                          <td>日付</td>
                          <td>曜日</td>
                          <td>残業終了予定時間</td>
                          <td>翌日</td>
                          <td>業務処理内容</td>
                          <td>指示者確認</td>
                        </tr>
                        <tr>
                          <!--data-dateから取得した日付と曜日を設定-->
                          <td><%= day.worked_on.to_s(:date) %></td>
                          
                          <!-- data-hidden_dateで取得した値を、コントローラーに飛ばす -->
                          <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div class="col-sm-14">
                              <select class="form-control">
                                <option></option>
                                <option>上長A</option>        
                              </select>
                            </div>
                          </td>
                        </tr>
                      </table>
                      <div class="modal-footer">
                        <%= link_to "申請する", "", class: "btn btn-primary" %>
                        <%#= f.submit "残業申請する", class: "btn btn-primary" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td><%= day.worked_on.to_s(:date) %></td>
          <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
          <td><%= day.started_at.to_s(:hour) if day.started_at.present? %></td>
          <td><%= day.started_at.floor_to(15.minutes).to_s(:min) if day.started_at.present? %></td>
          <td>
            <% if day.worked_on == Date.today && day.started_at.nil? %>
              <%= button_to "出社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
            <% end %>
          </td>
          <td><%= day.finished_at.to_s(:hour) if day.finished_at.present? %></td>
          <td><%= day.finished_at.floor_to(15.minutes).to_s(:min) if day.finished_at.present? %></td>
          <td>
            <% if day.worked_on == Date.today && day.started_at.present? && day.finished_at.nil? %>
              <%= button_to "退社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
            <% end %>
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= working_times(day.started_at, day.finished_at) %>
              <% seconds = (day.finished_at - day.started_at).to_i %>
              <% @total_seconds = @total_seconds.to_i + seconds %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan = "2">総合勤務時間 : <%= format_basic_time(@user.basic_time).to_f * @worked_sum %></td>
        <td colspan = "6"></td>
        <td>在社時間合計 : <%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
        <td></td>
        <td colspan = "5"></td>
        <td>所属長承認<br><%= link_to "申請", "#", class: "btn btn-primary" %></td>
      </tr>
    </tfoot>
  </table>
</div>
