<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "勤怠システム", root_path, id: "logo" %>
    <nav>
      <% if logged_in? %>
        <% if current_user.admin? %>
          <div class="header-name">
            <div class="admin">Admin</div>
          </div>
        <% elsif current_user.superior? %>
          <div class="header-name">
            <div class="superior">Superior</div>
          </div>
        <% else %>
          <div class="header-name">
            <div class="user">User</div>
          </div>
        <% end %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li><%= link_to "ユーザ一覧", users_path %></li>
            <li><%= link_to "出勤中社員一覧", on_duty_users_path %></li>
            <li><%= link_to "拠点情報の修正", "#" %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if !current_user.admin? %>
                <li><%= link_to "ユーザー勤怠情報表示", current_user %></li>
              <% end %>
              <li><%= link_to "設定", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>